@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="navbar-text me-2">Hello, @User.Identity?.Name!</span>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/"
              method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item"><a class="btn btn-outline-light btn-sm me-2" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    <li class="nav-item"><a class="btn btn-primary btn-sm" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
}
