@model LibraryManagementSystem.Models.Genre

<h2>Edit Genre</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <label>Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>
