@model MvcApp.Models.User

<h2>Create User</h2>
<form asp-action="Create" method="post">
    <input asp-for="FirstName" placeholder="First Name" />
    <input asp-for="LastName" placeholder="Last Name" />
    <input asp-for="Age" placeholder="Age" />

    <h4>Address</h4>
    <input asp-for="Address.Street" placeholder="Street" />
    <input asp-for="Address.City" placeholder="City" />
    <input asp-for="Address.ZipCode" placeholder="Zip Code" />

    <button type="submit">Submit</button>
</form>
